<table class="table">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Post title</th>
      <th scope="col">Post body</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td [innerHtml]="item.body"></td>
      <td style="width: 165px">
        <button class="btn btn-info me-2">Edit</button>
        <button class="btn btn-danger" (click)="delete(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
