<form class="mt-5" #Form="ngForm" (ngSubmit)="submit(Form)">
  <div class="mb-3">
    <label for="title" class="form-label">Post title</label>
    <input
      [value]="item.title"
      type="text"
      class="form-control"
      id="title"
      ngModel
      name="title"
      required
      minlength="3"
      maxlength="50"
    />
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Post body</label>
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        ngModel
        name="body"
        [placeholder]="'Type here...'"
      ></ngx-editor>
    </div>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
